@import "../../../sass/abstract/_mixins"
@import "../../../sass/abstract/_variables"

.main-nav

  &__list

  &__item
    display: inline-block
    border-right: .5px solid rgba($color-tertiary-dark, .6)

    &:last-child
      border-right: none

  &__link
    padding: 0 5rem
    margin-top: 1.5rem
    font-size: 4rem
    position: relative

    .MuiSvgIcon-root
      @include absCenter

    &--main
      transform: scale(1.2)

  &__link-text
    display: none
    @include respond(tab-port)
      display: none

  &__notification-background
    display: inline-block
    height: 3rem
    width: 3rem
    border-radius: 50%
    background: red
    position: absolute
    top: -3rem

  &__notification
    display: block
    font-size: 1.8rem
    color: white
    position: absolute
    left: 48%
    top: 48%
    transform: translate(-50%, -50%)
